// app specific brand colours
$listHeaderToolbar = #31CCEC

:root
  --q-color-listheadertoolbar = $listHeaderToolbar

.bg-listheadertoolbar
  background: $listHeaderToolbar !important
  background: var(--q-color-listheadertoolbar) !important

.listheadertoolbar-text
  color: $listHeaderToolbar !important
  color: var(--q-color-listheadertoolbar) !important


// .q-icon, .material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp 
//   display: inline-block

// .q-icon, .material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp 
//   justify-content: right;